@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #e8e8e8;
  font-weight: 400; /* fallback */
  font-weight: normal;
}

a {
  text-decoration: none;
}

nav {
  /* ORIGINAl COLOR: #3660d3 */
  width: 100%;
  height: 90px;
  background-color: #485665;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2.5%;
}

nav .title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
  width: 15%;
  background-color: #00000022;
}

nav h1 {
  font-size: 32px;
  line-height: 1.2em;
}

.instructions-container {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
}

.instructions-container h2 {
  background-color: #ffffff22;
  height: 80%;
  width: 30%;
  text-align: center;
  padding: 0.2rem;
  font-weight: 500;
}

.instructions-container span {
  padding: 0 0.3rem;
}

.instructions-container img {
  margin: 0 4px;
  position: relative;
  top: 5px;
}

.instructions-container .green {
  background-color: #007032d7;
  font-weight: 600;
  padding: 0 10px;
}

.instructions-container .red {
  background-color: #862323d7;
  font-weight: 600;
  padding: 0 10px;
}

.button-container {
  display: flex;
  width: 15%;
  justify-content: space-evenly;
}

nav button {
  transition: all 300ms ease;
  font-weight: 500;
  padding: 16px 2rem;
  border: 0;
  font-size: 18px;
  background-color: #222222;
  color: #f8f8f8;
}

nav button:hover {
  box-shadow: inset 0 -6px 0 0 white;
  cursor: pointer;
}

#clear {
  background-color: #00000077;
}

#run {
  background-color: #006400;
}

.changeAlgorithmContainer {
  display: flex;
  flex-direction: column;
  height: 80px;
  width: 10%;
}

.changeAlgorithmContainer h2 {
  font-size: 18px;
  padding-bottom: 4px;
  text-align: center;
}

#changeAlgorithm {
  padding: 0.5rem 2rem;
  width: 200px;
  font-size: 22px;
}

main table {
  border-collapse: collapse; /* avoid double borders */
}

main td {
  background-color: #e8e8e8;
  border: 1px solid #888;
  user-select: none;
}

main td:hover {
  box-shadow: inset 0 0 4px 2px #808080;
  /* animation-name: animation;
  animation-duration: 200ms; */
  opacity: 0.8;
}

@keyframes animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

.considered {
  background-color: #e0c60098;
}

.visited {
  background-color: #00b3e062;
}

.tail {
  background-color: #3210ac;
}

.start {
  background-color: #007033;
}

.end {
  background-color: #862323;
}

.wall {
  background-color: #111111;
}

footer {
  width: 100%;
  height: 36px;
  background-color: #485665;
  padding-left: 0.5rem;
}

footer h2 {
  font-size: 22px;
  display: inline-block;
}

.NTIGradient {
  background: linear-gradient(45deg, #a96fd6 0, #cc75ab 100%);
  background-clip: inherit;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.NTIGradient a {
  font-weight: bold;
}

@media only screen and (max-width: 1300px) {
  nav h1 {
    font-size: 22px;
  }
  .instructions-container h2 {
    font-size: 16px;
    line-height: 1.2em;
  }
  .instructions-container img {
    height: 20px;
  }
  .button-container {
    width: 10%;
  }
  .button-container button {
    width: 40%;
    text-align: center;
  }
}
