@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #eeeeee;
}

nav {
  width: 100%;
  height: 86px;
  background-color: #3660d3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #f8f8f8;
}

nav .title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 55%;
}

nav a {
  color: #e1ffe6;
  font-weight: bold;
  font-size: 18px;
  width: max-content;
}

nav h1 {
  font-size: 32px;
}

nav button {
  transition: transform 200ms ease;
  font-weight: bold;
  padding: 0 1em 0;
  height: 36px;
  border: 1px solid #767676;
  border-top-left-radius: 6px;
  font-size: 15px;
}

nav button:nth-of-type(1) {
  background-color: #862323;
  color: #f8f8f8;
}

nav button:nth-of-type(2) {
  background-color: #007033;
  color: #f8f8f8;
}

nav button:hover {
  transform: scale(1.125);
}

nav .curAlgorithm {
  width: 80px;
  font-size: 18px;
}

table {
  border-collapse: collapse; /* avoid double borders */
  display: flex;
  flex-direction: column;
}

td {
  background-color: #e8e8e8;
  border: 1px solid #888;
  width: 40px;
  height: 40px;
  transition: background ease 200ms;
  user-select: none;
}

td:hover {
  transition: background ease-out 100ms;
  background-color: #c8c8c8;
}

.visited {
  background-color: #e0c500c8;
}

.tail {
  background-color: #3210ac;
}

.start {
  background-color: #007033;
}

.end {
  background-color: #862323;
}

.wall {
  background-color: #111111;
}

@media only screen and (max-width: 768px) {
  nav h1 {
    font-size: 22px;
  }
  nav a {
    font-size: 14px;
  }
  nav select {
    width: 35%;
  }
}
